<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_tube_vip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,164},{160,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,21}}</string>
                <key>sourceSize</key>
                <string>{160,21}</string>
            </dict>
            <key>main_tube_vip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,141},{160,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,21}}</string>
                <key>sourceSize</key>
                <string>{160,21}</string>
            </dict>
            <key>personal_my_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,170},{217,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,25}}</string>
                <key>sourceSize</key>
                <string>{217,25}</string>
            </dict>
            <key>personal_vip_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,216},{239,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,27}}</string>
                <key>sourceSize</key>
                <string>{239,27}</string>
            </dict>
            <key>raise_long_bg_tube.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{385,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{385,45}}</string>
                <key>sourceSize</key>
                <string>{401,59}</string>
            </dict>
            <key>raise_long_bg_tube_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{401,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,59}}</string>
                <key>sourceSize</key>
                <string>{401,59}</string>
            </dict>
            <key>snatch_supplechip_progress_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,49},{544,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,45}}</string>
                <key>sourceSize</key>
                <string>{544,45}</string>
            </dict>
            <key>snatch_supplechip_progress_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{544,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,45}}</string>
                <key>sourceSize</key>
                <string>{544,45}</string>
            </dict>
            <key>tab_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{203,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{203,53}}</string>
                <key>sourceSize</key>
                <string>{207,57}</string>
            </dict>
            <key>tab_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,96},{620,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,57}}</string>
                <key>sourceSize</key>
                <string>{620,57}</string>
            </dict>
            <key>update_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,155},{639,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,13}}</string>
                <key>sourceSize</key>
                <string>{639,13}</string>
            </dict>
            <key>update_loading_tube.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{640,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,13}}</string>
                <key>sourceSize</key>
                <string>{640,13}</string>
            </dict>
            <key>vip_time_tube_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{322,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,29}}</string>
                <key>sourceSize</key>
                <string>{322,29}</string>
            </dict>
            <key>vip_time_tube_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,187},{320,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{320,27}}</string>
                <key>sourceSize</key>
                <string>{322,29}</string>
            </dict>
            <key>vip_time_tube_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{320,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{320,27}}</string>
                <key>sourceSize</key>
                <string>{322,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bar.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa71a8463be43ab2d7c3e18fa080bee$</string>
            <key>textureFileName</key>
            <string>bar.png</string>
        </dict>
    </dict>
</plist>
