<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,869},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>btn_close_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,69},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>button_add_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,472},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>button_auto_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,372},{207,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,65}}</string>
                <key>sourceSize</key>
                <string>{207,65}</string>
            </dict>
            <key>button_auto_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,129},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,427},{99,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,56}}</string>
                <key>sourceSize</key>
                <string>{99,56}</string>
            </dict>
            <key>button_baoming_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,163},{138,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,95}}</string>
                <key>sourceSize</key>
                <string>{138,95}</string>
            </dict>
            <key>button_baoming_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,163},{138,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,95}}</string>
                <key>sourceSize</key>
                <string>{138,95}</string>
            </dict>
            <key>button_bet_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,69},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>button_bet_blue_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,69},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>button_cancel_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,369},{159,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,68}}</string>
                <key>sourceSize</key>
                <string>{159,68}</string>
            </dict>
            <key>button_cancel_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,567},{154,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,60}}</string>
                <key>sourceSize</key>
                <string>{154,60}</string>
            </dict>
            <key>button_close_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,554},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>button_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,602},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>button_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,816},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>button_golden_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{473,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,65}}</string>
                <key>sourceSize</key>
                <string>{473,65}</string>
            </dict>
            <key>button_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,369},{99,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,56}}</string>
                <key>sourceSize</key>
                <string>{99,56}</string>
            </dict>
            <key>button_lucknumber_off_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,435},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>button_lucknumber_on_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,326},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>button_mainmenu_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,411},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>button_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,530},{35,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,60}}</string>
                <key>sourceSize</key>
                <string>{35,60}</string>
            </dict>
            <key>button_next_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,129},{31,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,57}}</string>
                <key>sourceSize</key>
                <string>{31,57}</string>
            </dict>
            <key>button_pandora.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,265},{129,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,59}}</string>
                <key>sourceSize</key>
                <string>{129,59}</string>
            </dict>
            <key>button_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,530},{35,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,60}}</string>
                <key>sourceSize</key>
                <string>{35,60}</string>
            </dict>
            <key>button_pre_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,129},{31,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,57}}</string>
                <key>sourceSize</key>
                <string>{31,57}</string>
            </dict>
            <key>button_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,742},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>button_radio_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,366},{106,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,59}}</string>
                <key>sourceSize</key>
                <string>{106,59}</string>
            </dict>
            <key>button_radio_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,303},{106,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,59}}</string>
                <key>sourceSize</key>
                <string>{106,59}</string>
            </dict>
            <key>button_receive_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,581},{159,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,68}}</string>
                <key>sourceSize</key>
                <string>{159,68}</string>
            </dict>
            <key>button_short_blue_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,163},{135,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,71}}</string>
                <key>sourceSize</key>
                <string>{135,71}</string>
            </dict>
            <key>button_short_golden_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,129},{135,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,71}}</string>
                <key>sourceSize</key>
                <string>{135,71}</string>
            </dict>
            <key>button_verify_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,202},{129,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,61}}</string>
                <key>sourceSize</key>
                <string>{129,61}</string>
            </dict>
            <key>button_verify_code_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,303},{129,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,61}}</string>
                <key>sourceSize</key>
                <string>{129,61}</string>
            </dict>
            <key>host_button_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,69},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>host_button_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,300},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>host_button_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,544},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>label__0.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,372},{207,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,55}}</string>
                <key>sourceSize</key>
                <string>{207,55}</string>
            </dict>
            <key>label__1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,581},{207,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,55}}</string>
                <key>sourceSize</key>
                <string>{207,55}</string>
            </dict>
            <key>label__2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,163},{204,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,55}}</string>
                <key>sourceSize</key>
                <string>{204,55}</string>
            </dict>
            <key>label__bottom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,163},{209,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,67}}</string>
                <key>sourceSize</key>
                <string>{209,67}</string>
            </dict>
            <key>label__bottom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,396},{209,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,67}}</string>
                <key>sourceSize</key>
                <string>{209,67}</string>
            </dict>
            <key>label__bottom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,816},{206,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,67}}</string>
                <key>sourceSize</key>
                <string>{206,67}</string>
            </dict>
            <key>label_player_bottom_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{317,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,67}}</string>
                <key>sourceSize</key>
                <string>{317,67}</string>
            </dict>
            <key>label_player_bottom_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{311,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,67}}</string>
                <key>sourceSize</key>
                <string>{311,67}</string>
            </dict>
            <key>label_player_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,636},{311,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,55}}</string>
                <key>sourceSize</key>
                <string>{311,55}</string>
            </dict>
            <key>label_player_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,636},{311,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,55}}</string>
                <key>sourceSize</key>
                <string>{311,55}</string>
            </dict>
            <key>loding_notic_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,163},{231,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,77}}</string>
                <key>sourceSize</key>
                <string>{231,77}</string>
            </dict>
            <key>loding_notic_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,396},{215,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,73}}</string>
                <key>sourceSize</key>
                <string>{215,73}</string>
            </dict>
            <key>loding_notic_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{159,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,68}}</string>
                <key>sourceSize</key>
                <string>{159,68}</string>
            </dict>
            <key>login_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{471,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,77}}</string>
                <key>sourceSize</key>
                <string>{471,77}</string>
            </dict>
            <key>login_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,163},{471,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{471,75}}</string>
                <key>sourceSize</key>
                <string>{471,77}</string>
            </dict>
            <key>main_button_Pandora.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,544},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>main_button_add_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,917},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>main_button_black_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,65}}</string>
                <key>sourceSize</key>
                <string>{473,65}</string>
            </dict>
            <key>main_button_blank_off1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,613},{215,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,71}}</string>
                <key>sourceSize</key>
                <string>{215,71}</string>
            </dict>
            <key>main_button_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,581},{207,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,65}}</string>
                <key>sourceSize</key>
                <string>{207,65}</string>
            </dict>
            <key>main_button_blue_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,792},{207,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,65}}</string>
                <key>sourceSize</key>
                <string>{207,65}</string>
            </dict>
            <key>main_button_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,163},{207,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,65}}</string>
                <key>sourceSize</key>
                <string>{207,65}</string>
            </dict>
            <key>main_button_golden_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,372},{207,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,65}}</string>
                <key>sourceSize</key>
                <string>{207,65}</string>
            </dict>
            <key>main_button_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,583},{207,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,65}}</string>
                <key>sourceSize</key>
                <string>{207,65}</string>
            </dict>
            <key>main_button_green_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,163},{207,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,65}}</string>
                <key>sourceSize</key>
                <string>{207,65}</string>
            </dict>
            <key>main_button_radio_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,533},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>main_button_radio_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,485},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>main_button_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,374},{207,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,65}}</string>
                <key>sourceSize</key>
                <string>{207,65}</string>
            </dict>
            <key>main_button_red_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,607},{207,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,65}}</string>
                <key>sourceSize</key>
                <string>{207,65}</string>
            </dict>
            <key>raise_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>rankinglist_list_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,69},{171,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,78}}</string>
                <key>sourceSize</key>
                <string>{171,78}</string>
            </dict>
            <key>rankinglist_list_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,69},{171,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,78}}</string>
                <key>sourceSize</key>
                <string>{171,78}</string>
            </dict>
            <key>snatch_supplechip_progress_butten.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,830},{116,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,71}}</string>
                <key>sourceSize</key>
                <string>{116,71}</string>
            </dict>
            <key>tab_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,790},{203,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{203,53}}</string>
                <key>sourceSize</key>
                <string>{207,57}</string>
            </dict>
            <key>tab_bar_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,790},{207,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,57}}</string>
                <key>sourceSize</key>
                <string>{207,57}</string>
            </dict>
            <key>tab_bar_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,163},{207,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,57}}</string>
                <key>sourceSize</key>
                <string>{207,57}</string>
            </dict>
            <key>tab_bar_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,163},{207,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,57}}</string>
                <key>sourceSize</key>
                <string>{207,57}</string>
            </dict>
            <key>table_host_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,742},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0c35e8263bdc72187b2004a57031e00$</string>
            <key>textureFileName</key>
            <string>btn.png</string>
        </dict>
    </dict>
</plist>
