<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9Gong_backpack_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,506},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>9Gong_bet_long_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,36},{167,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,468}}</string>
                <key>sourceSize</key>
                <string>{167,468}</string>
            </dict>
            <key>9Gong_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,194},{607,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,96}}</string>
                <key>sourceSize</key>
                <string>{607,96}</string>
            </dict>
            <key>blank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1610},{223,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,273}}</string>
                <key>sourceSize</key>
                <string>{223,273}</string>
            </dict>
            <key>chat_icon_host.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,259},{63,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,28}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>chat_vip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,292},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>chip_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,545},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>coming_soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1974},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,109}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
            <key>congrate_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,324},{488,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,196}}</string>
                <key>sourceSize</key>
                <string>{488,196}</string>
            </dict>
            <key>corner_green_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{116,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,40}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>dealer_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,560},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>diamond_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,292},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>dot_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,545},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>dot_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,527},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>host_button_gift_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1974},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>icon_broadcast.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,521},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>icon_diban_jinbiaosai.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,668},{575,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,109}}</string>
                <key>sourceSize</key>
                <string>{575,109}</string>
            </dict>
            <key>icon_greater_than.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,386},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>icon_hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{1168,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1168,147}}</string>
                <key>sourceSize</key>
                <string>{1168,147}</string>
            </dict>
            <key>icon_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,421},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,612},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>icon_player_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,324},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>icon_titan_sports_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,521},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>line_bg_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,815},{1074,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1074,95}}</string>
                <key>sourceSize</key>
                <string>{1074,95}</string>
            </dict>
            <key>little_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{774,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{774,67}}</string>
                <key>sourceSize</key>
                <string>{774,67}</string>
            </dict>
            <key>loading_chip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>loading_chip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,421},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>login_image_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,105},{519,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,1}}</string>
                <key>sourceSize</key>
                <string>{519,1}</string>
            </dict>
            <key>logo_beyond.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1291},{317,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,182}}</string>
                <key>sourceSize</key>
                <string>{317,182}</string>
            </dict>
            <key>logo_titan.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1291},{317,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,182}}</string>
                <key>sourceSize</key>
                <string>{317,182}</string>
            </dict>
            <key>logo_titan_metal.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,779},{424,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,255}}</string>
                <key>sourceSize</key>
                <string>{424,255}</string>
            </dict>
            <key>mall_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,499},{123,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,124}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>notice_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,506},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>notice_new_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{945,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{945,32}}</string>
                <key>sourceSize</key>
                <string>{945,32}</string>
            </dict>
            <key>prix_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,292},{325,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,127}}</string>
                <key>sourceSize</key>
                <string>{325,127}</string>
            </dict>
            <key>rank_money_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,569},{41,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,46}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>rank_money_little.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,582},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>sex_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,228},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>sex_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,351},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>snatch_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1498},{205,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,206}}</string>
                <key>sourceSize</key>
                <string>{205,206}</string>
            </dict>
            <key>snatch_corner_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1291},{205,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,206}}</string>
                <key>sourceSize</key>
                <string>{205,206}</string>
            </dict>
            <key>snatch_treasure_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,626},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>splash_titan_logo_for_censorship.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1036},{419,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,253}}</string>
                <key>sourceSize</key>
                <string>{419,253}</string>
            </dict>
            <key>tab_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1985},{203,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,53}}</string>
                <key>sourceSize</key>
                <string>{203,53}</string>
            </dict>
            <key>tab_bar_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{207,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,57}}</string>
                <key>sourceSize</key>
                <string>{207,57}</string>
            </dict>
            <key>tab_bar_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,194},{207,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,57}}</string>
                <key>sourceSize</key>
                <string>{207,57}</string>
            </dict>
            <key>tab_bar_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{207,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,57}}</string>
                <key>sourceSize</key>
                <string>{207,57}</string>
            </dict>
            <key>table_Call_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,626},{113,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,33}}</string>
                <key>sourceSize</key>
                <string>{113,33}</string>
            </dict>
            <key>table_Call_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,626},{129,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,37}}</string>
                <key>sourceSize</key>
                <string>{129,37}</string>
            </dict>
            <key>table_chip_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,494},{129,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,32}}</string>
                <key>sourceSize</key>
                <string>{129,32}</string>
            </dict>
            <key>table_chip_gold_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,194},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>table_chip_green_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,553},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>table_chip_red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,626},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>table_chips_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,521},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>table_chips_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,527},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>table_chips_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,520},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>table_chips_100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,494},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>table_chips_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,487},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>table_chips_25000.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,454},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>table_chips_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,421},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>table_chips_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,626},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>table_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,292},{137,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,82}}</string>
                <key>sourceSize</key>
                <string>{137,82}</string>
            </dict>
            <key>text_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1891},{269,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,81}}</string>
                <key>sourceSize</key>
                <string>{269,81}</string>
            </dict>
            <key>titan_logo_for_censorship.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,403},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>top_line_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{757,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{757,87}}</string>
                <key>sourceSize</key>
                <string>{757,87}</string>
            </dict>
            <key>top_line_bg_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,46},{767,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{767,74}}</string>
                <key>sourceSize</key>
                <string>{767,74}</string>
            </dict>
            <key>vip_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,421},{42,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,71}}</string>
                <key>sourceSize</key>
                <string>{42,71}</string>
            </dict>
            <key>vip_flag_01_for_censorship.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,476},{43,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,77}}</string>
                <key>sourceSize</key>
                <string>{43,77}</string>
            </dict>
            <key>vip_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,421},{42,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,71}}</string>
                <key>sourceSize</key>
                <string>{42,71}</string>
            </dict>
            <key>vip_flag_02_for_censorship.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,431},{43,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,77}}</string>
                <key>sourceSize</key>
                <string>{43,77}</string>
            </dict>
            <key>vip_flag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,421},{42,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,71}}</string>
                <key>sourceSize</key>
                <string>{42,71}</string>
            </dict>
            <key>vip_flag_03_for_censorship.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,545},{43,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,77}}</string>
                <key>sourceSize</key>
                <string>{43,77}</string>
            </dict>
            <key>vip_flag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{42,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,71}}</string>
                <key>sourceSize</key>
                <string>{42,71}</string>
            </dict>
            <key>vip_flag_04_for_censorship.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,500},{43,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,77}}</string>
                <key>sourceSize</key>
                <string>{43,77}</string>
            </dict>
            <key>vip_time_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,292},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a363b1eb5cc28a0736223b317fac31ea$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
